:root {
    user-select: none;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}

div {
    box-sizing: border-box;
}



.rank {
    margin: 0.2rem auto;
    width: 10rem;
    --height: 1rem;
    height: var(--height);
    
    line-height: var(--height);
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;

    color: #D7CCC8;
    border: 1px solid #D7CCC8;
    border-radius: 0.2rem;
    background-color: #3E2723;
}

.role:hover {
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

.roleField {
    text-align: center;
    font-weight: bold;
    color: var(--color-18-0);
}

.roleField > .roleInfo {
    display: flex;
    position: absolute;

    bottom: 0;
    width: 100%;
    --height: 4rem;
    height: var(--height);


    display: none;

}
.roleField > .roleInfo[level="5"] {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(241, 196, 15, 0.8) 100%);
}
.roleField > .roleInfo[level="4"] {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(156, 39, 176, 0.8) 100%);
}

.roleField > .roleInfo > .roleGroup {
    display: inline-block;

    --width: 3rem;
    width: var(--width);
    --height: 4rem;
    height: var(--height);

    line-height: var(--height);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;

    /* background-color: greenyellow; */
}

.roleField > .roleInfo > .roleName {
    display: inline-block;
    flex: auto;

    line-height: calc(var(--height) / 2);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;

    margin-top: calc(var(--height) / 2);
    height: calc(var(--height) / 2);

    color: #E67E22;
    text-shadow: #000 0px 0px 1px;

}

.skillField {
    display: flex;
    align-items: center;
    position: relative;

    margin: 0 auto;
    --padding: 0.2rem;
    padding: var(--padding) 0 var(--padding) 0;
    width: 9rem;
    --height: 2rem;
    height: calc(var(--height) + var(--padding));

    background-color: #313131;
    border: 1px rgba(0, 0, 0, 0) solid;
    border-bottom: 1px #424242 solid;
}
.S2:hover, .S3:hover {
    cursor: pointer;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}
.skillField > .skillLevel {
    display: inline-block;

    --height: 1.5rem;
    border-radius: calc(var(--height) / 2);
    width: var(--height);
    height: var(--height);
    margin: 0 0.25rem;
    border: 1px solid #D7CCC8;

    line-height: var(--height);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;

    color: #D7CCC8;
    background-color: var(--color-2-16-9);
}

.skillField > .skillName {
    display: inline-block;
    flex: auto;
    border: 1px solid rgba(0, 0, 0, 0);

    line-height: var(--height);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;

    color: #D7CCC8;

}

.selected {
    border: 1px solid yellow;
}

.menu {
    padding: .2rem 0rem;
}
.searchbar {
    height: 2rem;
    background-color: var(--color-18-9);
    color: var(--color-18-0);
}
.searchbar > input {
    position: relative;

    margin: 0 .5rem;
    border: 1px var(--color-18-7) solid;
    width: 8rem;
    background-color: var(--color-18-8);
}

.hidden {
    display: none;
}

.filter {
    position: absolute;
    white-space: pre-line;
    z-index: 10;

    line-height: 1.2rem;
    min-width: 3rem;
    padding-right: 1rem;
    background-color: var(--color-18-8);
}

.魏 {
    font-weight: bold;
    color: var(--color-05-4);
}

.吳 {
    font-weight: bold;
    color: var(--color-01-4);
}

.蜀 {
    font-weight: bold;
    color: var(--color-06-4);
}

.群 {
    font-weight: bold;
    color: var(--color-10-4);
}